body {
    font-family: monospace;
    line-height: 0em;
    background-color: rgb(235, 235, 235);
}

div.header {
    padding-bottom: 4em;
}

div.featured {
    text-align: center;
    padding-bottom: 1em;
}

img.featured {
    width: 45%;
}

div.posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

div.post {
    width: 33%;
    box-sizing: border-box;
}

img.post {
    width: 67%;
}

@media (max-width: 900px) {
    div.posts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    
    div.post {
        width: 100%;
    }
    
    img.post {
        width: 33%;
    }
}

div.footer {
    padding-top: 4em;
}