.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    /* background-color: #e6cd8b; */
    overflow-x: hidden;
    padding: 0% 0 0 3%;
}

.sidenav, ul {
    list-style: none;
    padding-left: 1.5%;
}

.sidenav, li {
    display: block;
    padding-left: 1.5%;
}

/* hr.solid {
    border-top: 3px solid #bbb;
} */

body {
    margin-left: 33%;
    
}